{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Todo List SN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authen.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">

      <div class="signup">
        {% if messages %}
          <div class="alert alert-danger">
            <ul class="mb-0">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <form action="{% url "register" %}" method="POST">
          {% csrf_token %}
          <label for="chk" aria-hidden="true">Inscription</label>
          <input type="text" name="username" placeholder="nom d'utilisateur" required />
          <input type="email" name="email" placeholder="Email" required />
          <input
            type="password"
            name="pswd"
            placeholder="Mot de passe"
            required
          />
          <button type="submit">S'inscrire</button>
        </form>
        <p class="forgot" style="text-align:center;">
          Vous avez déjà un compte <a href="{% url "login" %}" style="color: white;">Connexion</a>
        </p>
      </div>
    </div>
  </body>
</html>
